.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background {
  position: relative;
  width: 100%;
  height: 600px;
}

.foreground {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.foreground-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: white 1px solid;
  padding: 20px;
}

.foreground-content * {
  pointer-events: auto;
}

